#jeu{
    z-index:10;
    width: 800px;
    height: 450px;
    border: 2px black solid;
    overflow: hidden;
    position: relative;
    transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
}
#voiture{
    z-index: 100; 
    position: absolute; 
    top: 315px; 
    left: 48px;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
}
#voiture2{
    z-index: 100; 
    position: absolute; 
    top: 315px; 
    left: 144px;
}
#voiture3{
    z-index: 100; 
    position: absolute; 
    top: 315px; 
    left: 240px;
}
#bigrig{
    z-index: 100; 
    position: absolute; 
    top: 365px; 
    left: 200px;
}
#bigrig2{
    z-index: 100; 
    position: absolute; 
    top: 365px; 
    left: 400px;
}
#bigrig3{
    z-index: 100; 
    position: absolute; 
    top: 365px; 
    left: 600px;
}
#hotrod{
    z-index: 100; 
    position: absolute; 
    top: 265px; 
    left: 200px;
    }
#hotrod2{
    z-index: 100; 
    position: absolute; 
    top: 265px; 
    left: 500px;
    }
#hotrod3{
    z-index: 100; 
    position: absolute; 
    top: 265px; 
    left: 750px;
    }
#turtle{
    z-index: 100; 
    position: absolute; 
    top: 175px; 
    left: 50px;
}
#turtle2{
    z-index: 100; 
    position: absolute; 
    top: 175px; 
    left: 450px;
}
#turtle3{
    z-index: 100; 
    position: absolute; 
    top: 175px; 
    left: 250px;
}
#small{
    z-index: 100; 
    position: absolute; 
    top: 125px; 
    left: 20px;
}
#small2{
    z-index: 100; 
    position: absolute; 
    top: 125px; 
    left: 220px;
}
#small3{
    z-index: 100; 
    position: absolute; 
    top: 125px; 
    left: 420px;
}
#small4{
    z-index: 100; 
    position: absolute; 
    top: 125px; 
    left: 620px;
}
#med{
    z-index: 100; 
    position: absolute; 
    top: 75px; 
    left: 120px;
}
#med2{
    z-index: 100; 
    position: absolute; 
    top: 75px; 
    left: 320px;
}
#med3{
    z-index: 100; 
    position: absolute; 
    top: 75px; 
    left: 520px;
}   